<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Assignment 11 - Summary</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
body {
background-color: green;
style.css - kcaramba.bitbucketio - Visual Studio Code
}

h1 {
color: darkslateblue;
text-align: center;
}
p {
font-family: Verdana; font-size: 15px;
}
